{% extends "dashboard.twig" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2> Forma de Pago </h2>
        </div>   
        <div class="col-md-2 d-flex justify-content-end align-items-end">
            <a class="link pr-4" href="/Intranet/paymentWays/list">Lista</a> 
            <a class="link " href="/Intranet/admin">Volver</a> 
        </div>        
    </div>
    <div class="row">
        <div class="col">
            <div class="alert alert-dark" role="alert">
                {{ responseMessage }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form id="paymentWaysForm" action="/Intranet/paymentWays/save" method="post">
                <div class="form-row">
                    <div class="form-group offset-4 col-md-6">                        
                        <label for="inputName">Nombre</label>                        
                        <input type="text" name="name" class="form-control" id="inputName" placeholder="Nombre" value="{{ paymentWay.name }}">
                    </div>
                    <div class="form-group col-md-2">                        
                        <label for="inputDiscount">Descuento</label>                        
                        <input type="text" name="discount" class="form-control" id="inputDiscount" placeholder="" value="{{ paymentWay.discount }}">
                    </div> 
                </div>              
                <div class="form-row">
                    <div class="col text-right">
                        <button id="submit" type="submit" class="btn btn-primary">Guardar</button>
                        <button type="reset" class="btn btn-primary">Cancelar</button>
                    </div>
                </div>
            </form>        
        </div>
    </div>
</div>
{% endblock %}

