{% extends "layout.twig" %}
{% block loginForm %}
    <form class="form" action="/logout" method="post">
        <div class="form-group">
           {{ userEmail }}        
            <input type="submit" value="Logout" class="form-control btn btn-link">
        </div>
    </form>
{% endblock %} 
{% block content %}    
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">General</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="buys-tab" data-toggle="tab" href="#buys" role="tab" aria-controls="buys" aria-selected="false">Compras</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="sales-tab" data-toggle="tab" href="#sales" role="tab" aria-controls="sales" aria-selected="true">Ventas</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="reports-tab" data-toggle="tab" href="#reports" role="tab" aria-controls="reports" aria-selected="false">Informes</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">                   
                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">                    
                        <div class="container">
                            <div class="row">
                                <div class="col mt-2">
                                    <div class="card-group">
                                        <div class="card">                                        
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <h4>Mantenimiento</h4>
                                                </li>
                                                <li class="list-group-item"><a href="/company/list">Empresas</a></li>
                                                <li class="list-group-item"><a href="/users/list">Usuarios</a></li>
                                                <li class="list-group-item"><a href="/sellers/list">Comerciales</a></li>
                                                <li class="list-group-item"><a href="/banks/list">Entidades Bancarias</a></li>
                                                <li class="list-group-item"><a href="/finance/list">Financieras</a></li>
                                                <li class="list-group-item"><a href="/stores/list">Almacenes</a></li>                                               
                                            </ul>
                                        </div>
                                        <div class="card">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <h4>Preferencias</h4>
                                                </li>
                                                <li class="list-group-item"><a href="/settings/form">Generales</a></li>
                                                <li class="list-group-item"><a href="/reports">Listados</a></li>
                                                <li class="list-group-item"><a href="/formats">Formatos</a></li>
                                                <li class="list-group-item"><a href="/counters">Contadores</a></li>   
                                                <li class="list-group-item"><a href="/taxes/list">Tipos Iva</a></li>
                                                <li class="list-group-item"><a href="/texts">Textos Documentos</a></li>                                        
                                            </ul>
                                        </div>
                                        <div class="card">                                        
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <h4>Fabricaciones</h4>
                                                </li>                                                
                                                <li class="list-group-item"><a href="/production/list">Producción</a></li>
                                                <li class="list-group-item"><a href="/homologation/list">Homologaciones</a></li>
                                                <li class="list-group-item"><a href="/components/list">Componentes</a></li>
                                                <li class="list-group-item"><a href="/production_type/list">Tipos Fabricación</a></li>
                                                <li class="list-group-item"><a href="/projects/list">Proyectos</a></li>
                                            </ul>
                                        </div>                                        
                                    </div>
                                </div>                            
                            </div>                        
                        </div>
                    </div>                   
                    <div class="tab-pane fade" id="buys" role="tabpanel" aria-labelledby="buys-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col mt-2">
                                    <div class="card-group">
                                        <div class="card">                                        
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <h4>Proveedores</h4>
                                                </li>
                                                <li class="list-group-item"><a href="/buys/providers/list">Proveedores</a></li>
                                                <li class="list-group-item"><a href="/buys/garages/list">Talleres</a></li>
                                                <li class="list-group-item"><a href="/buys/deliveries/list">Albaranes Compra</a></li>
                                                <li class="list-group-item"><a href="/buys/invoices/list">Facturas Compra</a></li>
                                                <li class="list-group-item"><a href="/buys/orders/list">Ordenes Reparación</a></li>
                                                <li class="list-group-item"><a href="/paymentWays/list">Formas de Pago</a></li>    
                                            </ul>
                                        </div>
                                        <div class="card">                                        
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <h4>Vehículos</h4>
                                                </li>
                                                <li class="list-group-item"><a href="/vehicles/list">Vehículos</a></li>
                                                <li class="list-group-item"><a href="/vehicles/vehicleTypes/list">Tipos Vehículo</a></li>
                                                <li class="list-group-item"><a href="/vehicles/brands/list">Marcas</a></li>
                                                <li class="list-group-item"><a href="/vehicles/models/list">Modelos</a></li>
                                                <li class="list-group-item"><a href="/vehicles/accesories/list">Accesorios</a></li> 
                                                <li class="list-group-item"><a href="/vehicles/works/list">Trabajos</a></li>     
                                            </ul>
                                        </div>
                                        <div class="card">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <h4>Stock</h4>
                                                </li>
                                               <li class="list-group-item"><a href="/buys/supplies/list">Recambios</a></li>
                                               <li class="list-group-item"><a href="/locations/list">Ubicaciones</a></li>
                                                <li class="list-group-item"><a href="/stocks/list">Stock Vehículos</a></li>
                                                <li class="list-group-item"><a href="/buys/components/list">Componentes</a></li> 
                                                <li class="list-group-item"><a href="/products/list">Productos Fabricados</a></li> 
                                                <li class="list-group-item"><a href="/buys/maders/list">Fabricantes</a></li>
                                            </ul>
                                        </div>                                        
                                    </div>
                                </div>                            
                            </div>                        
                        </div>
                    </div>                 
                    <div class="tab-pane fade show active" id="sales" role="tabpanel" aria-labelledby="sales-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col mt-2">
                                    <div class="card-group">
                                        <div class="card">                                        
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <h4> CRM </h4>
                                                </li>
                                                <li class="list-group-item"><a href="/crm/offers/list">Ofertas</a></li>
                                                <li class="list-group-item"><a href="/crm/contacts/list">Contactos</a></li>
                                                <li class="list-group-item"><a href="/crm/apoints/list">Reservas</a></li>
                                                <li class="list-group-item"><a href="/crm/financing/list">Financiaciones</a></li>
                                                <li class="list-group-item"><a href="/crm/rents/list">Alquileres</a></li>
                                                <li class="list-group-item"><a href="/crm/rentings/list">Rentings</a></li>
                                            </ul>
                                        </div>
                                        <div class="card">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <h4> Clientes </h4>
                                                </li>
                                                <li class="list-group-item"><a href="/customers/list">Clientes</a></li>
                                                <li class="list-group-item"><a href="/customers/type/list">Tipos Clientes</a></li>
                                                <li class="list-group-item"><a href="/customers/list">Formas de Cobro</a></li>
                                                <li class="list-group-item"><a href="/customers/list">Recibos</a></li> 
                                                <li class="list-group-item"><a href="/customers/list">Albaranes</a></li>
                                                <li class="list-group-item"><a href="/customers/list">Facturas</a></li>                                         
                                            </ul>
                                        </div>
                                        <div class="card">                                        
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <h4> Marketing </h4>
                                                </li>
                                                <li class="list-group-item"><a href="/marketing/promotions/list">Promociones</a></li>
                                                <li class="list-group-item"><a href="/marketing/publications/list">Publicaciones</a></li>
                                                <li class="list-group-item"><a href="/marketing/discounts/list">Descuentos Financiación</a></li>
                                                <li class="list-group-item"><a href="/marketing/packs/list">Packs Alquiler</a></li>
                                                <li class="list-group-item"><a href="/marketing/renting/list">Renting Flexible</a></li>
                                                <li class="list-group-item"><a href="/marketing/brochures/list">Folletos</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>                            
                            </div>                        
                        </div>
                    </div>
             
                    <div class="tab-pane fade" id="reports" role="tabpanel" aria-labelledby="reports-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col mt-2">
                                    <div class="card-group">
                                        <div class="card">                                        
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <h4> Listado Compras </h4>
                                                </li>
                                                <li class="list-group-item"><a href="/reports/prueba">Prueba</a></li>
                                                <li class="list-group-item"><a href="/supplies/list">Listado Recambios</a></li>
                                                <li class="list-group-item"><a href="/components/list">Listado Componentes</a></li>
                                                <li class="list-group-item"><a href="/buys/list">Listado Compras</a></li>
                                                <li class="list-group-item"><a href="/buys/history">Historial Compras</a></li>                                                
                                            </ul>
                                        </div>
                                        <div class="card">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <h4> Listados Clientes </h4>
                                                </li>
                                                <li class="list-group-item"><a href="/customers/list">Listado Clientes</a></li>
                                                <li class="list-group-item"><a href="/customers/history">Historial Clientes</a></li>
                                                <li class="list-group-item"><a href="/customers/operations/list">Operaciones Clientes</a></li>    
                                                <li class="list-group-item"><a href="/customers/financing/list">Operaciones Financiacion</a></li> 
                                                 <li class="list-group-item"><a href="/customers/financing/history">Financiaciones</a></li>                                                                                   
                                            </ul>
                                        </div>
                                        <div class="card">                                        
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <h4> Listados Ventas </h4>
                                                </li>
                                                 <li class="list-group-item"><a href="/sells/list">Listado Ventas</a></li> 
                                                 <li class="list-group-item"><a href="/operations/list">Estado Operaciones</a></li>                                                
                                                 <li class="list-group-item"><a href="/rents/list">Listado Alquileres</a></li> 
                                                 <li class="list-group-item"><a href="/renting/list">Listado Rentings</a></li> 
                                                 <li class="list-group-item"><a href="/balances">Balances</a></li> 
                                            </ul>
                                        </div>
                                    </div>
                                </div>                            
                            </div>                        
                        </div>
                    </div>
                
                </div>                            
            </div>
        </div>
    </div>
{% endblock %}