<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href="/">
        <title>Intranet Automotive</title>
        {% block stylesheets %}

            <!-- jQuery -->
            <script src="Intranet/panel/plugins/jquery/jquery.min.js"></script>
            <!-- jQuery UI 1.11.4 -->
            <script src="Intranet/panel/plugins/jquery-ui/jquery-ui.min.js"></script>
            <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
            <!-- Bootstrap 4 -->
            <script src="Intranet/panel/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- Tempusdominus Bootstrap 4 -->
            <link rel="stylesheet" href="Intranet/panel/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
            <!-- DataTables Autofill -->
            <link rel="stylesheet" href="Intranet/panel/plugins/datatables-autofill/css/autoFill.bootstrap4.css" type="text/css">
            <!-- DataTables BS4 -->
            <link rel="stylesheet" href="Intranet/panel/plugins/datatables-bs4/css/dataTables.bootstrap4.css" type="text/css">
            <!-- DataTables Buttons -->
            <link rel="stylesheet" href="Intranet/panel/plugins/datatables-buttons/css/buttons.bootstrap4.css" type="text/css">
            <!-- DataTables ColReorder -->
            <link rel="stylesheet" href="Intranet/panel/plugins/datatables-colreorder/css/colReorder.bootstrap4.css" type="text/css">
            <!-- DataTables  FixedColumns-->
            <link rel="stylesheet" href="Intranet/panel/plugins/datatables-fixedcolumns/css/fixedColumns.bootstrap4.css" type="text/css">
            <!-- DataTables FixedHeader -->
            <link rel="stylesheet" href="Intranet/panel/plugins/datatables-fixedheader/css/fixedHeader.bootstrap4.css" type="text/css">
            <!-- DataTables KeyTable -->
            <link rel="stylesheet" href="Intranet/panel/plugins/datatables-keytable/css/keyTable.bootstrap4.css" type="text/css">
            <!-- DataTables Responsive -->
            <link rel="stylesheet" href="Intranet/panel/plugins/datatables-responsive/css/responsive.bootstrap4.css" type="text/css">
            <!-- DataTables RowReorder -->
            <link rel="stylesheet" href="Intranet/panel/plugins/datatables-rowreorder/css/rowReorder.bootstrap4.css" type="text/css">
            <!-- DataTables Scroller -->
            <link rel="stylesheet" href="Intranet/panel/plugins/datatables-scroller/css/scroller.bootstrap4.css" type="text/css">
            <!-- DataTables SearchBuilder -->
            <link rel="stylesheet" href="Intranet/panel/plugins/datatables-searchBuilder/css/searchBuilder.bootstrap4.css" type="text/css">
            <!-- DataTables Select -->
            <link rel="stylesheet" href="Intranet/panel/plugins/datatables-select/css/select.bootstrap4.css" type="text/css">
            <!-- Jquery UI -->
            <link rel="stylDataTables Autofillesheet" href="Intranet/panel/plugins/jquery-ui/jquery-ui.css" type="text/css">
            <!-- JS Grid -->
            <link rel="stylesheet" href="Intranet/panel/plugins/jsgrid/jsgrid-theme.css" type="text/css">
            <!-- Select2 -->
            <link rel="stylesheet" href="Intranet/panel/plugins/select2/css/select2.css" type="text/css">
            <!-- Select2 Bootstrap Theme -->
            <link rel="stylesheet" href="Intranet/panel/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" type="text/css">
            <!-- Google Font: Source Sans Pro -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
            <!-- Font Awesome -->
            <link rel="stylesheet" href="Intranet/panel/plugins/fontawesome-free/css/all.min.css">
            <!-- Ionicons -->
            <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">    
            <!-- iCheck -->
            <link rel="stylesheet" href="Intranet/panel/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
            <!-- JQVMap -->
            <link rel="stylesheet" href="Intranet/panel/plugins/jqvmap/jqvmap.min.css">   
            <!-- overlayScrollbars -->
            <link rel="stylesheet" href="Intranet/panel/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
            <!-- Daterange picker -->
            <link rel="stylesheet" href="Intranet/panel/plugins/daterangepicker/daterangepicker.css">
            <!-- summernote -->
            <link rel="stylesheet" href="Intranet/panel/plugins/summernote/summernote-bs4.min.css">
            <!-- Admin LTE -->
            <link rel="stylesheet" href="Intranet/panel/dist/css/adminlte.css" type="text/css">
            <!-- Autgest Styles -->    
            <link rel="stylesheet" href="Intranet/assets/css/autogest.css?v={{ random(1, 10000) }}" type="text/css">
        {% endblock %}
        {% block scripts %}
            <!-- Optional JavaScript -->    
            <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
            <!-- DataTables JS -->
            <script src="Intranet/panel/plugins/datatables/jquery.dataTables.js"></script>
            <!-- DataTables AutoFill JS -->
            <script src="Intranet/panel/plugins/datatables-autofill/js/dataTables.autoFill.js" type="text/javascript"></script>
            <script src="Intranet/panel/plugins/datatables-autofill/js/autoFill.bootstrap4.js" type="text/javascript"></script>
            <!-- DataTables BS4 JS -->
            <script src="Intranet/panel/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
            <!-- DataTables Buttons JS -->
            <script src="Intranet/panel/plugins/datatables-buttons/js/dataTables.buttons.js" type="text/javascript"></script>
            <script src="Intranet/panel/plugins/datatables-buttons/js/buttons.bootstrap4.js"></script>

            <!-- DataTables ColReorder JS -->
            <script src="Intranet/panel/plugins/datatables-colreorder/js/dataTables.colReorder.js"></script>
            <script src="Intranet/panel/plugins/datatables-colreorder/js/colReorder.bootstrap4.js"></script>

            <!-- DataTables FixedColumns JS -->
            <script src="Intranet/panel/plugins/datatables-fixedcolumns/js/dataTables.fixedColumns.js"></script>
            <script src="Intranet/panel/plugins/datatables-fixedcolumns/js/fixedColumns.bootstrap4.js"></script>

            <!-- DataTables FixedHeader JS -->
            <script src="Intranet/panel/plugins/datatables-fixedheader/js/dataTables.fixedHeader.js"></script>
            <script src="Intranet/panel/plugins/datatables-fixedheader/js/fixedHeader.bootstrap4.js"></script>

            <!-- DataTables KeyTable JS -->
            <script src="Intranet/panel/plugins/datatables-keytable/js/dataTables.keyTable.js"></script>
            <script src="Intranet/panel/plugins/datatables-keytable/js/keyTable.bootstrap4.js"></script>

            <!-- DataTables Responsive JS -->
            <script src="Intranet/panel/plugins/datatables-responsive/js/dataTables.responsive.js"></script>
            <script src="Intranet/panel/plugins/datatables-responsive/js/responsive.bootstrap4.js"></script>
            <!-- DataTables RowReorder JS -->
            <script src="Intranet/panel/plugins/datatables-rowreorder/js/dataTables.rowReorder.js"></script>
            <script src="Intranet/panel/plugins/datatables-rowreorder/js/rowReorder.bootstrap4.js"></script>

            <!-- DataTables Scroller JS -->
            <script src="Intranet/panel/plugins/datatables-scroller/js/dataTables.scroller.js"></script>
            <script src="Intranet/panel/plugins/datatables-scroller/js/scroller.bootstrap4.js"></script>

            <!-- DataTables SearchBuilder JS -->
            <script src="Intranet/panel/plugins/datatables-searchbuilder/js/dataTables.searchBuilder.js"></script>
            <script src="Intranet/panel/plugins/datatables-searchbuilder/js/searchBuilder.bootstrap4.js"></script>

            <!-- DataTables Select JS -->
            <script src="Intranet/panel/plugins/datatables-select/js/select.bootstrap4.js"></script>
            <script src="Intranet/panel/plugins/datatables-select/js/dataTables.select.js"></script>
            <!-- Jquery UI JS -->
            <script src="Intranet/panel/plugins/jquery-ui/jquery-ui.js"></script>
            <!-- JSGrid JS -->
            <script src="Intranet/panel/plugins/jsgrid/jsgrid.js"></script>
            <!-- Select2 JS -->
            <script src="Intranet/panel/plugins/select2/js/select2.js"></script>   
            <!-- ChartJS -->
            <script src="Intranet/panel/plugins/chart.js/Chart.min.js"></script>
            <!-- Sparkline -->
            <script src="Intranet/panel/plugins/sparklines/sparkline.js"></script>
            <!-- JQVMap -->
            <script src="Intranet/panel/plugins/jqvmap/jquery.vmap.min.js"></script>
            <script src="Intranet/panel/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
            <!-- jQuery Knob Chart -->
            <script src="Intranet/panel/plugins/jquery-knob/jquery.knob.min.js"></script>
            <!-- daterangepicker -->
            <script src="Intranet/panel/plugins/moment/moment.min.js"></script>
            <script src="Intranet/panel/plugins/daterangepicker/daterangepicker.js"></script>
            <!-- Tempusdominus Bootstrap 4 -->
            <script src="Intranet/panel/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
            <!-- Summernote -->
            <script src="Intranet/panel/plugins/summernote/summernote-bs4.min.js"></script>
            <!-- overlayScrollbars -->
            <script src="Intranet/panel/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
            <!-- AdminLTE App -->
            <script src="Intranet/panel/dist/js/adminlte.js"></script>
            <!-- AutoGest Scripts -->
            <script src="Intranet/assets/js/autogest.js?v={{ random(1, 10000) }}" type="text/javascript"></script>
        {% endblock %}
    </head>
    <body>
        <div class="wrapper">

            <!-- Preloader -->
            <div class="preloader flex-column justify-content-center align-items-center">
                <img class="animation__shake" src="Intranet/assets/images/logo_central.png" alt="AutogestLogo" height="60" width="60">

            </div>

            <!-- Navbar -->
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                    </li>      
                </ul>    
            </nav>
            <!-- /.navbar -->
            <!-- Main Sidebar Container -->
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <!-- Brand Logo -->
                <a href="index3.html" class="brand-link">
                    <img src="Intranet/assets/images/logo_horizontal_blanco.png" alt="AutoGest Logo" class="brand-image" style="opacity: .8">
                    <span class="brand-text font-weight-light">.</span>
                </a>

                <!-- Sidebar -->
                <div class="sidebar">     

                    <!-- SidebarSearch Form -->
                    <div class="form-inline">
                        <div class="input-group" data-widget="sidebar-search">
                            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-sidebar">
                                    <i class="fas fa-search fa-fw"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <!-- Add icons to the links using the .nav-icon class
                                 with font-awesome or any other icon font library -->
                            <li class="nav-item menu-open">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fas fa-industry"></i>
                                    <p>
                                        Mantenimiento
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/Intranet/settings" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Parámetros</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Intranet/users/list" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Usuarios</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Intranet/company/list" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Empresas</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Intranet/taxes/list" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Tipos de Iva</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Intranet/banks/list" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Bancos</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Intranet/finance/list" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Financieras</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Intranet/" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Seguros</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Intranet/accounts/list" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Cuentas Bancarias</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item menu-open">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fas fa-shopping-cart"></i>
                                    <p>
                                        Ventas
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/Intranet/sellers/list" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Comerciales</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Intranet/sells/offers/list" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Oferas</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Intranet/customers/list" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Clientes</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Intranet/customers/type/list" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Tipos de Clientes</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Intranet/" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Formas de cobro</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item menu-open">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fas fa-shopping-basket"></i>
                                    <p>
                                        Compras
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/Intranet/buys/providers/list" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Proveedores</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Intranet/garages/list" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Talleres</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Intranet/paymentWays/list" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Formas de Pago</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item menu-open">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fas fa-store"></i>
                                    <p>
                                        Stock
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/Intranet/vehicles/list" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Vehiculos</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Intranet/vehicles/brands/list" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Marcas</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Intranet/vehicles/models/list" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Modelos</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Intranet/vehicles/accesories/list" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Accesorios</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Intranet/vehicles/vehicleTypes/list" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Tipos de Vehiculos</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Intranet/vehicles/supplies/list" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Recambios</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Intranet/vehicles/components/list" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Componentes</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Intranet/stores/list" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Almacenes</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Intranet/locations/list" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Ubicaciones</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Intranet/maders/list" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Fabricantes</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item menu-open">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fa fa-car"></i>
                                    <p>
                                        Taller
                                        <i class="right fa fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="./index.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Ordenes Reparacion</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./index2.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Hojas de taller</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Intranet/vehicles/works/list" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Trabajos</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./index3.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Peritaciones</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./index3.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Planning</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item menu-open">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fas fa-calendar"></i>
                                    <p>
                                        Alquileres
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="./index.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Reservas</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./index2.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Actuales</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./index3.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Documentos</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./index3.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Historial</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item menu-open">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fas fa-folder"></i>
                                    <p>
                                        Contable
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="./index.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Cuentas</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./index2.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Movimientos</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./index3.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Libro Mayor</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./index3.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Informe PyG</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./index3.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Estado</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
            </aside>
            {% block content %}       
            {% endblock %} 
            <footer class="main-footer footer">
                <strong>Copyright &copy; 2019-2023 <a href="https://tpgimeno.com">Design by TpGimeno</a>.</strong>
                All rights reserved.
                <div class="float-right d-none d-sm-inline-block">
                    <b>Version</b> 1.0
                </div>
            </footer>
        </div>


    </body>
</html>