<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Intranet Automotive</title>
{% block stylesheets %}
     <link rel="stylesheet" href="/intranet/style.css">
 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">   
   
{% endblock %}
</head>
<body>
<div class="container">         
    <div class="row">
        <div class="col-3 ">              
            <img class="img-fluid" src="/Intranet/public/images/pngs/logo-correo-transparente.png" alt="Logotipo Automotive">  
        </div>
        <div class="col-6">
            <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><img id="home_icon" class="img-fluid mb-1" src="/Intranet/images/home.svg" alt="Home"><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Quienes somos?</a>
                    </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>                       
                </div>
                </nav>
        </div>
        <div class="col-3">
        {% block loginForm %}         
        {% endblock %} 
        </div>
    </div>    
    <div class="row">
        <div class="col">
            {% block content %}       
            {% endblock %}
        </div>
    </div>   
</div>
<!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>
    
</body>
</html>