{% extends "layout.twig" %}  
{% block loginForm %}
<form id="login" action="/intranet/login" method="post">
    <div class="form-group text-right">        
        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">         
        <input type="password" name="password" class="form-control" id="password" placeholder="Password">  
        <button type="submit" name="Submit" class="btn btn-primary">Enviar</button>    
    </div>      
    
</form>
<div class="alert">
    {{ responseMessage }}
</div>
{% endblock %}    
{% block content %}
    <div class="row">
      
        <div class="col">
            <article>
                <img src="images/JPGS/header2.jpg" name="headerimg" id="headerimg">
            </article>
        </div>
    </div>
{% endblock %}       

