<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>AutoGest - Login</title>

        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <!-- Font Awesome -->    
        <link href="/Intranet/panel/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <!-- icheck bootstrap -->
        <link rel="stylesheet" href="/Intranet/panel/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="/Intranet/panel/dist/css/adminlte.min.css">
        <!-- AutoGest style -->
        <link rel="stylesheet" href="public/style.css">
        {% block scripts %}
            <!-- jQuery -->
            <script type="text/javascript" src="/Intranet/panel/plugins/jquery/jquery.min.js"></script>
            <!-- Bootstrap 4 -->
            <script src="/Intranet/panel/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- AdminLTE App -->
            <script src="/Intranet/panel/dist/js/adminlte.min.js"></script>
        {% endblock scripts %}
    </head>
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <a href="/Intranet/"><img id="logo-login" src="/Intranet/assets/images/image63.png"></a>
            </div>
            <!-- /.login-logo -->
            <div class="card">
                <div class="card-login card-body login-card-body ">
                    <p class="login-box-msg">Iniciar sesión</p>
                    {% if responseMessage %}
                        <p class="msg">{{ responseMessage }}</p>
                    {% endif %}
                    <form name="loginForm" id="loginForm" action="/Intranet/login" method="post">
                        <div class="input-group mb-3">
                            <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="icheck-primary">
                                    <input type="text" hidden="true" name="recuerdame">
                                    <input type="checkbox" id="recuerdame">              
                                    <label for="recuerdame">
                                        Recuerdame
                                    </label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" name="submitLogin" id="submitLogin" class="btn btn-primary btn-block">Entrar</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                    <p class="mb-1">
                        <a href="forgot-password.html">Recordar contraseña</a>
                    </p>      
                </div>
                <!-- /.login-card-body -->
            </div>
        </div>
        <!-- /.login-box -->


    </body>
</html>
