{% extends "layout.twig" %}  
{% block loginForm %}
<<<<<<< HEAD
<form action="/login" method="post">
=======
<form id="login" action="/intranet/login" method="post">
>>>>>>> RepairMigrations
    <div class="form-group text-right">        
        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">         
        <input type="password" name="password" class="form-control" id="password" placeholder="Password">  
        <button type="submit" name="Submit" class="btn btn-primary">Enviar</button>    
    </div>      
    
</form>
<div class="alert">
    {{ responseMessage }}
</div>
{% endblock %}    
{% block content %}
<<<<<<< HEAD
    <div class="row">      
        <div class="col">
            <article>
                <img class="img-fluid" src="/public/images/JPGS/header2.jpg" name="headerimg" id="headerimg">
            </article>
=======
    <div class="container-fluid">
        <div class="row">      
            <div class="col">            
                <img class="img-fluid" src="images/JPGS/header2.jpg" id="headerimg">           
            </div>
>>>>>>> RepairMigrations
        </div>
    </div>
{% endblock %}       

