{% extends "layout.html.twig" %}
{% block loginForm %}
    <form class="form" action="/Intranet/logout" method="post">
        <div class="form-group">
           {{ userEmail }}        
            <input type="submit" value="Logout" class="form-control btn btn-link">
        </div>
    </form>
{% endblock %} 
{% block content %} 
    {% block javascripts %}
        <script>
            {{include('js/manageMenuTabs.js')}}
        </script>
    {% endblock %}
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">General</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="buys-tab" data-toggle="tab" href="#buys" role="tab" aria-controls="buys" aria-selected="false">Compras</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="sales-tab" data-toggle="tab" href="#sales" role="tab" aria-controls="sales" aria-selected="true">Ventas</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="reports-tab" data-toggle="tab" href="#reports" role="tab" aria-controls="reports" aria-selected="false">Informes</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">                   
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">                    
                        <div class="container">
                            <div class="row">
                                <div class="col mt-2">
                                    <div class="card-group">
                                        <div class="card">                                        
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <h4>Mantenimiento</h4>
                                                </li>
                                                <li class="list-group-item"><a href="/Intranet/company/list">Empresas</a></li>
                                                <li class="list-group-item"><a href="/Intranet/users/list">Usuarios</a></li>
                                                <li class="list-group-item"><a href="/Intranet/settings">Parametros</a></li>                                              
                                                <li class="list-group-item"><a href="/Intranet/taxes/list">Tipos Iva</a></li>                                                
                                            </ul>
                                        </div>
                                        <div class="card">                                        
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <h4>Finanzas</h4>
                                                </li>
                                                <li class="list-group-item"><a href="/Intranet/banks/list">Bancos</a></li>
                                                <li class="list-group-item"><a href="/Intranet/finance/list">Financieras</a></li>
                                                <li class="list-group-item"><a href="/Intranet/accounts/list">Cuentas Bancarias</a></li>                                                                                               
                                            </ul>
                                        </div>
                                        <div class="card">                                            
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <h4>Stock</h4>
                                                </li>                                               
                                                <li class="list-group-item"><a href="/Intranet/stores/list">Almacenes</a></li>  
                                                <li class="list-group-item"><a href="/Intranet/locations/list">Ubicaciones</a></li>
                                                <li class="list-group-item"><a href="/Intranet/buys/maders/list">Fabricantes</a></li>
                                            </ul>
                                        </div> 
                                    </div>
                                </div>                            
                            </div>                        
                        </div>
                    </div>                   
                    <div class="tab-pane fade" id="buys" role="tabpanel" aria-labelledby="buys-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col mt-2">
                                    <div class="card-group">
                                        <div class="card">                                        
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <h4>Proveedores</h4>
                                                </li>
                                                <li class="list-group-item"><a href="/Intranet/buys/providers/list">Proveedores</a></li>
                                                <li class="list-group-item"><a href="/Intranet/Garages/list">Talleres</a></li>                                                
                                                <li class="list-group-item"><a href="/Intranet/paymentWays/list">Formas de Pago</a></li> 
                                                <li class="list-group-item"><a href="/Intranet/vehicles/supplies/list">Recambios</a></li>
                                                <li class="list-group-item"><a href="/Intranet/vehicles/components/list">Componentes</a></li> 
                                            </ul>
                                        </div>
                                        <div class="card">                                        
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <h4>Vehículos</h4>
                                                </li>
                                                <li class="list-group-item"><a href="/Intranet/vehicles/list">Vehículos</a></li>
                                                <li class="list-group-item"><a href="/Intranet/vehicles/vehicleTypes/list">Tipos Vehículo</a></li>
                                                <li class="list-group-item"><a href="/Intranet/vehicles/brands/list">Marcas</a></li>
                                                <li class="list-group-item"><a href="/Intranet/vehicles/models/list">Modelos</a></li>
                                                <li class="list-group-item"><a href="/Intranet/vehicles/accesories/list">Accesorios</a></li> 
                                                <li class="list-group-item"><a href="/Intranet/vehicles/works/list">Trabajos</a></li>     
                                            </ul>
                                        </div>                                                                               
                                    </div>
                                </div>                            
                            </div>                        
                        </div>
                    </div>                 
                    <div class="tab-pane fade" id="sales" role="tabpanel" aria-labelledby="sales-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col mt-2">
                                    <div class="card-group">
                                        <div class="card">                                        
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <h4> CRM </h4>
                                                </li>
                                                <li class="list-group-item"><a href="/Intranet/sellers/list">Comerciales</a></li>  
                                                <li class="list-group-item"><a href="/Intranet/sells/offers/list">Ofertas</a></li>                                                
                                            </ul>
                                        </div>
                                        <div class="card">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <h4> Clientes </h4>
                                                </li>
                                                <li class="list-group-item"><a href="/Intranet/customers/list">Clientes</a></li>
                                                <li class="list-group-item"><a href="/Intranet/customers/type/list">Tipos Clientes</a></li>
                                                <li class="list-group-item"><a href="/Intranet/customers//list">Formas de Cobro</a></li>                                                                                        
                                            </ul>
                                        </div>                                        
                                    </div>
                                </div>                            
                            </div>                        
                        </div>
                    </div>
             
                    <div class="tab-pane fade" id="reports" role="tabpanel" aria-labelledby="reports-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col mt-2">
                                    <div class="card-group">
                                        <div class="card">                                        
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <h4> Listado Compras </h4>
                                                </li>
                                                <li class="list-group-item"><a href="/Intranet/reports/vehicles">Listado Vehiculos</a></li>
                                                <li class="list-group-item"><a href="/Intranet/reports/supplies">Listado Recambios</a></li>
                                                <li class="list-group-item"><a href="/Intranet/reports/components">Listado Componentes</a></li>                                                                                               
                                            </ul>
                                        </div>
                                        <div class="card">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <h4> Listados Clientes </h4>
                                                </li>
                                                <li class="list-group-item"><a href="/Intranet/customers/list">Listado Clientes</a></li>
                                                <li class="list-group-item"><a href="/Intranet/customers/history">Historial Clientes</a></li>                                                                                                                                 
                                            </ul>
                                        </div>                                        
                                    </div>
                                </div>                            
                            </div>                        
                        </div>
                    </div>
                
                </div>                            
            </div>
        </div>
    </div>
{% endblock %}