{% extends 'layout.html.twig' %} 
<!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="Intranet/assets/images/logo_central.png" alt="AutogestLogo" height="60" width="60">

    </div>
{% block content %}
{{ block('content', 'dashboard.html.twig') }}
{% endblock content %}
