{% extends "layout.html.twig" %}
{% block content %}
<div class="content-wrapper pb-2" style="min-height: 960px">
    <section class="content-header"><h2>Empresa</h2></section>
    <section class="content">
        <div class="container-fluid">
            <form class="form-horizontal " id="formCompany" action="Intranet/company/save">
                <div class="form-group col">
                    <div class="input-group">
                        <label class="label" for="name">Nombre</label>
                        <input type="text" id="name" name="name" class="form-control">
                    </div>
                    <div class="input-group">
                        <label class="label" for="name">CIF</label>
                        <input type="text" id="fiscalId" name="fiscalId" class="form-control">
                    </div>
                    <div class="input-group">
                        <label class="label" for="name">Nombre Fiscal</label>
                        <input type="text" id="fiscalName" name="fiscalName" class="form-control">
                    </div>
                    <div class="input-group">
                        <label class="label" for="name">Direccion</label>
                        <input type="text" id="address" name="address" class="form-control">
                    </div>
                    <div class="input-group">
                        <label class="label" for="name">Codigo Postal</label>
                        <input type="text" id="postalCode" name="postalCode" class="form-control">
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
            
            
{% endblock %}