#home_icon{
    height: 20px;
}
#colmenu{
    background-color: red;
    height: 100%;
}
#searchField{
    width:75%;
}
#headerimg{
    width: 40%;
}
.form-inline .form-control{
    max-width: 100%;
}
.euros
{
    text-align: right;    
}
.disabled {
    pointer-events: none;
    text-decoration: none;
}
.disabled:hover{
    pointer-events: none;
    text-decoration: none;
}

