{% extends "dashboard.twig" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2> Accesorios </h2>
        </div>   
        <div class="col-md-2 d-flex justify-content-end align-items-end">
<<<<<<< HEAD:views/vehicles/accesoriesForm.html.twig
            <a class="link pr-4" href="/vehicles/accesories/list">Lista</a> 
            <a class="link " href="/admin">Volver</a> 
=======
            <a class="link pr-4" href="/intranet/vehicles/accesories/list">Lista</a> 
            <a class="link " href="/intranet/admin">Volver</a> 
            
>>>>>>> RepairMigrations:views/vehicles/accesories/accesoriesForm.html.twig
        </div>        
    </div>
    <div class="row">
        <div class="col">
            <div class="alert alert-dark" id="alert" role="alert">
                {{ responseMessage }}                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
<<<<<<< HEAD:views/vehicles/accesoriesForm.html.twig
            <form action="/vehicles/accesories/save" method="post">
=======
            <form id="AccesoryForm" action="/intranet/vehicles/accesories/save" method="post">
>>>>>>> RepairMigrations:views/vehicles/accesories/accesoriesForm.html.twig
                <div class="form-row">
                    <div class="form-group col-md-2">                        
                        <label for="inputId">ID</label>                        
                        <input type="text" name="id" class="form-control" id="inputId" placeholder="" value="{{ selected_accesory.id }}">
                    </div> 
                    <div class="form-group col-md-6">                        
                        <label for="inputName">Nombre</label>                        
                        <input type="text" name="name" class="form-control" id="inputName" placeholder="Nombre" value="{{ selected_accesory.name }}">
                    </div>                    
                </div>              
                <div class="form-row">
                    <div class="col text-right">
                    <button id="submit" type="submit" class="btn btn-primary">Guardar</button>
                    <button type="reset" class="btn btn-primary">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>    
{% endblock %}

