{% extends "dashboard.twig" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2> Tipo Cliente </h2>
        </div>   
        <div class="col-md-2 d-flex justify-content-end align-items-end">
            <a class="link pr-4" href="/customers/type/list">Lista</a> 
            <a class="link " href="/admin">Volver</a> 
        </div>        
    </div>
    <div class="row">
        <div class="col">
            <div class="alert alert-dark" role="alert">
                {{ responseMessage }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="/customers/type/save" method="post">
                <div class="form-row">
                    <div class="form-group col">
                        <label for="inputName">Descripción</label>                        
                        <input type="text" name="name" class="form-control" id="inputName" placeholder="Nombre" value="{{ customer_type.name }}">
                    </div>                    
                </div>              
                <div class="form-row">
                    <div class="col text-right">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="reset" class="btn btn-primary">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>    
{% endblock %}


